{% extends "base.html" %}
{% block title%}
Potato Since '98
{% endblock %}

{% block content%}

    <section class="py-5 text-center container" style="max-width: 1000px;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Projects</h1>
        <p class="lead text-muted">The projects showcase various skills, including machine learning, feature engineering, data analysis and visualization. Some projects include a form to use the model for predictions. Each project has an associated notebook on my GitHub page. </p>
        <p>
          <a href="{{url_for('projects.index')}}" class="btn btn-primary my-2">View all projects</a>
        </p>
      </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container" style="max-width: 1000px;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                  <img src="{{url_for('static',filename='iris/iris.jpg')}}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{url_for('projects.iris')}}" class="text-black">Iris</a>
                    </h5>
                    <p class="card-text">This is a project to predict the species of the iris flower using various machine learning models.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="{{url_for('static',filename='credit_card/credit_card.jpg')}}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{url_for('projects.credit_card_fraud_detection')}}" class="text-black">Credit Card Fraud Detection</a>
                    </h5>
                    <p class="card-text">This is a project to distinguish authentic and fraudulent transactions using machine learning.</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="{{url_for('static',filename='home_price_predictor/home_price_predictor.jpg')}}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{url_for('projects.home_price_predictor')}}" class="text-black">Home Price Predictor</a>
                    </h5>
                    <p class="card-text">This is a regression project to predict house prices in Ames, Iowa using machine learning. </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}