{% extends "base.html" %}

{% block content %}

<div class="mt-3 container" style="max-width: 1000px">
    <a href="{{url_for('projects.index')}}" class="text-secondary">Back to all projects</a>
</div>

<div class="py-3 container" style="max-width: 1000px">
    <h1>{% block title%}{% endblock %}</h1>
    <div class="row ">
        <div class="col-md-3 order-md-2 mb-3">
            <div class="sticky-top">
                {% block form%}{% endblock %}
            </div>
        </div>
        <div class="col-md-9 order-md-1">
            {% block blog%}{% endblock %}
        </div>
    </div>
</div>


{% endblock %}