{% extends "projects_base.html" %}

{%  block title %}
Stocks Dashboard
{% endblock %}

{% block blog %}

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat eros at gravida fermentum. Donec maximus massa ultricies, interdum magna at, suscipit neque. In condimentum risus ut dui aliquet, a porta urna fringilla. Nam in pellentesque neque. Mauris blandit risus nec mauris vestibulum molestie. Quisque non feugiat urna. Phasellus sagittis turpis in dignissim varius. Sed aliquam volutpat ante. Nam sagittis tincidunt tempor. Suspendisse quis mollis nulla, at interdum nulla. Vivamus volutpat fringilla velit, varius semper felis euismod sodales.

Sed porta nulla eu erat cursus ullamcorper. In venenatis efficitur diam, ac efficitur mauris. Maecenas nisl magna, tristique eu efficitur vitae, euismod suscipit mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris consectetur nibh mollis, placerat est non, sodales velit. Nulla pulvinar at magna in viverra. Etiam id massa ut mi posuere lobortis quis vel dolor. Proin in nunc vitae justo vehicula ullamcorper. Integer in diam ut felis fermentum pharetra ut in eros. Cras nec lorem vitae risus ullamcorper porta eu at lacus. Etiam cursus sed arcu tristique molestie. Sed quis odio ultrices, rutrum est at, rutrum sapien. Curabitur eget nunc sed augue malesuada viverra. Pellentesque eu volutpat massa, eu ullamcorper dui. Fusce ut feugiat orci, consequat imperdiet quam.

Nullam et lectus risus. Duis erat arcu, gravida in scelerisque vel, pellentesque non velit. Integer interdum odio metus, ac commodo leo iaculis sit amet. Mauris nec blandit tortor. Sed ut enim ut lorem elementum sollicitudin. Integer massa erat, lobortis interdum justo a, facilisis facilisis leo. Duis malesuada blandit ultricies. Mauris eros arcu, porta nec interdum ac, rhoncus vitae neque. Sed malesuada mi sit amet rhoncus tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sodales nisi ultricies, tincidunt sapien quis, tempor augue. Sed in dignissim nisi, a dapibus dolor.

Proin rhoncus nisi neque, sit amet pharetra sem varius eget. Curabitur tincidunt urna porta elementum ultrices. Vivamus aliquam, ex ac tempus venenatis, enim diam tincidunt elit, sit amet porttitor tortor metus et turpis. Sed in quam efficitur, suscipit nisi quis, pretium massa. Nam volutpat nec massa et auctor. Donec viverra mauris purus, eget commodo metus porttitor vel. Donec dictum orci accumsan pulvinar scelerisque. Etiam mauris ante, bibendum ut vulputate nec, congue eu tellus. Nunc scelerisque tortor massa. Praesent ante ante, fringilla efficitur eros sed, varius placerat massa. Donec et mauris accumsan, egestas felis id, varius leo. Maecenas id interdum magna. Praesent convallis mauris sed est lacinia scelerisque sit amet suscipit ante. Donec ut sapien blandit, congue magna rhoncus, vehicula ex. Maecenas pharetra consectetur diam, eu mattis augue mattis in.

Proin cursus dapibus felis eu vestibulum. Aenean ornare ornare lorem aliquam placerat. Proin ac imperdiet nulla, sed rhoncus dolor. Nam fermentum semper mollis. Cras sit amet tempus turpis, tristique tempor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In pretium neque sit amet ante dignissim porta. Vestibulum congue, lacus nec aliquam vulputate, ligula dui posuere orci, efficitur congue ligula mauris a turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris vulputate ultrices arcu id pulvinar. Etiam posuere ultrices diam vel consectetur. Fusce ac vehicula dolor. Ut hendrerit dui libero, ut ultricies nisl tincidunt et.
</p>

<div id='chart' class='chart'”>
    <script type='text/javascript'>
      var graphs = {{plot | safe}};
      Plotly.plot('chart',graphs,{});
    </script>
</div>

{% endblock %}

{% block form %}
<form method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
        <select name="stock" class="form-select">
            {% for tic,name in options %}
                <option value={{tic}}>{{name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        {{form.start_date.label(class='form-label')}}
        {{form.start_date(class='form-control')}}
    </div>
    <div class="mb-3">
        {{form.end_date.label(class='form-label')}}
        {{form.end_date(class='form-control')}}
    </div>
        {{form.submit(class='btn btn-primary')}}
</form>
{% endblock %}
