{% extends "projects_base.html" %}

{%  block title %}
Stocks Dashboard
{% endblock %}

{% block blog %}

<div id='chart' class='chart'>
    <script type='text/javascript'>
      var graphs = {{plot | safe}};
      Plotly.plot('chart',graphs,{});
    </script>
</div>

<div id='hist' class='chart'>
    <script type='text/javascript'>
      var graphs = {{hist | safe}};
      Plotly.plot('hist',graphs,{});
    </script>
</div>

{% endblock %}

{% block form %}
<form method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
        {{form.tickers.label(class='form-label')}}
        {{form.tickers(class='form-control')}}
    </div>
    <div class="mb-3">
        {{form.start_date.label(class='form-label')}}
        {{form.start_date(class='form-control')}}
    </div>
    <div class="mb-3">
        {{form.end_date.label(class='form-label')}}
        {{form.end_date(class='form-control')}}
    </div>
        {{form.submit(class='btn btn-primary')}}
</form>
{% endblock %}
